 # Data Profiling Playbook
 The intention of this notebook is to develop a generic approach to profiling a single column.
 This will take into account:
 - The primary data type of the column - eg if it's a date, we can generate more specialised analytics
 - We may also be able to apply more specialised checks, for example based on REGEX to check national insurance numbers etc.

In [1]:
# Import all of the libraries we need to use...
import pandas as pd
import azureml.dataprep as dprep
import os as os
import re as re
import collections
import seaborn as sns
import pandas_profiling as pp
import datetime
from datetime import datetime
from azureml.dataprep import value
from azureml.dataprep import col
from azureml.dataprep import Dataflow
from commonCode import savePackage, openPackage, createFullPackagePath

In [2]:
# Not used fo now, but should be driven by:
stageNumber = '1'
dataName = 'PEOPLE'
qualityFlag = 'A'
noMissingFlag = True

# For now, I'm cheating, just specifying file.  But will use helper function to build ultimately:
dataFlowFile = './packages/PEOPLE/2/PEOPLE_A_package.dprep'
indexColumn = 'ID'
targetColumn = 'DOB'

In [3]:
dataFlow = Dataflow.open(dataFlowFile)

In [4]:
dataFlow = dataFlow.keep_columns([indexColumn, targetColumn])

In [ ]:
dataProfile = dataFlow.get_profile()

In [6]:
dataProfile

ColumnProfile:
    column_name: DOB
    type: FieldType.DATE

    min: 1900-01-01 00:00:00+00:00
    max: 2008-10-25 00:00:00+00:00
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: ID
    type: FieldType.INTEGER

    min: 17936.0
    max: 36765.0
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 17957.505076923077
           1%: 19834.11288011696
           5%: 19741.04861111111
          25%: 22621.57794636583
          50%: 27301.880255872522
          75%: 31965.093154567367
          95%: 35743.97104916763
          99%: 36546.678301158296
        99.9%: 36743.43258133971

    mean: 27298.755562519484
    std: 5400.796882343092
    variance: 29168606.964326866
    skewness: 0.007268103979632813
    kurtosis: -1.194865681433907

In [7]:
columnDataProfile = dataProfile.columns[targetColumn]

In [8]:
columnDataProfile

ColumnProfile:
    column_name: DOB
    type: FieldType.DATE

    min: 1900-01-01 00:00:00+00:00
    max: 2008-10-25 00:00:00+00:00
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0

In [9]:
if columnDataProfile.type == 'FieldType.DATE':
    print('Date Field Detected!')
    # NOTE - what do I need to do to detect date field?

In [10]:
# Add year
columnByExampleBuilder = dataFlow.builders.derive_column_by_example(source_columns = [dataFlowColumn], new_column_name = 'Year')
columnByExampleBuilder.add_example(source_data = {targetColumn : '2008-10-25 00:00:00'}, example_value = '2008')
columnByExampleBuilder.preview()
dataFlow = columnByExampleBuilder.to_dataflow()

NameError: name 'dataFlowColumn' is not defined

In [11]:
# Add month
columnByExampleBuilder = dataFlow.builders.derive_column_by_example(source_columns = [dataFlowColumn], new_column_name = 'Month')
columnByExampleBuilder.add_example(source_data = {targetColumn : '2008-10-25 00:00:00'}, example_value = 'October')
columnByExampleBuilder.preview()
dataFlow = columnByExampleBuilder.to_dataflow()

NameError: name 'dataFlowColumn' is not defined

In [232]:
# Add day of month
columnByExampleBuilder = dataFlow.builders.derive_column_by_example(source_columns = [dataFlowColumn], new_column_name = 'DayOfMonth')
columnByExampleBuilder.add_example(source_data = {targetColumn : '2008-10-25 00:00:00'}, example_value = '25')
columnByExampleBuilder.preview()
dataFlow = columnByExampleBuilder.to_dataflow()

In [233]:
# Add day of month
columnByExampleBuilder = dataFlow.builders.derive_column_by_example(source_columns = [dataFlowColumn], new_column_name = 'DayOfWeek')
columnByExampleBuilder.add_example(source_data = {targetColumn : '2008-10-25 00:00:00'}, example_value = 'Saturday')
columnByExampleBuilder.preview()
dataFlow = columnByExampleBuilder.to_dataflow()

In [234]:
dataProfile = dataFlow.get_profile()

In [235]:
dataProfile

ColumnProfile:
    column_name: DOB
    type: FieldType.DATE

    min: 1900-01-01 00:00:00+00:00
    max: 2008-10-25 00:00:00+00:00
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: DayOfWeek
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: DayOfMonth
    type: FieldType.STRING

    min: 1
    max: 9
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: Month
    type: FieldType.STRING

    min: April
    max: September
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: Year
    type: FieldType.STRING

    min: 1900
    max: 2008
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: ID
    type: FieldType.INTEGER

    min: 17936.0
    max: 36765.0
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 17957.505076923077
           1%: 19834.11288011696
           5%: 19741.04861111111
          25%: 22621.57794636583
          50%: 27301.880255872522
          75%: 31965.093154567367
          95%: 35743.97104916763
          99%: 36546.678301158296
        99.9%: 36743.43258133971

    mean: 27298.755562519484
    std: 5400.796882343092
    variance: 29168606.964326866
    skewness: 0.007268103979632813
    kurtosis: -1.194865681433907

In [236]:
dataColumns = dataProfile.columns.keys()

In [237]:
dataColumns

odict_keys(['DOB', 'DayOfWeek', 'DayOfMonth', 'Month', 'Year', 'ID'])

In [238]:
for c in dataColumns:
    valueCounts = dataProfile.columns[c].value_counts
    if valueCounts == None:
        valueCountString = 'None'
    else:
        valueCountString = len(valueCounts)
    print('Column {0} : value count {1}'.format(c, valueCountString))

Column DOB : value count None
Column DayOfWeek : value count 8
Column DayOfMonth : value count 32
Column Month : value count 13
Column Year : value count 108
Column ID : value count None

In [239]:
for c in dataColumns:
    valueCounts = dataProfile.columns[c].value_counts
    if valueCounts != None:
        for i in valueCounts:
                print('Column {0} : value {1} : count {2}'.format(c, i.value, i.count))

Column DayOfWeek : value Friday : count 2833
Column DayOfWeek : value Thursday : count 2799
Column DayOfWeek : value Tuesday : count 2788
Column DayOfWeek : value Saturday : count 2753
Column DayOfWeek : value Wednesday : count 2750
Column DayOfWeek : value Monday : count 2617
Column DayOfWeek : value Sunday : count 2606
Column DayOfWeek : value None : count 1
Column DayOfMonth : value 1 : count 676
Column DayOfMonth : value 2 : count 671
Column DayOfMonth : value 4 : count 667
Column DayOfMonth : value 5 : count 663
Column DayOfMonth : value 8 : count 663
Column DayOfMonth : value 15 : count 653
Column DayOfMonth : value 18 : count 651
Column DayOfMonth : value 7 : count 649
Column DayOfMonth : value 25 : count 647
Column DayOfMonth : value 6 : count 643
Column DayOfMonth : value 28 : count 643
Column DayOfMonth : value 12 : count 631
Column DayOfMonth : value 14 : count 631
Column DayOfMonth : value 26 : count 628
Column DayOfMonth : value 24 : count 628
Column DayOfMonth : value 3 : count 622
Column DayOfMonth : value 27 : count 621
Column DayOfMonth : value 23 : count 619
Column DayOfMonth : value 16 : count 618
Column DayOfMonth : value 9 : count 616
Column DayOfMonth : value 13 : count 615
Column DayOfMonth : value 21 : count 614
Column DayOfMonth : value 17 : count 613
Column DayOfMonth : value 10 : count 613
Column DayOfMonth : value 11 : count 603
Column DayOfMonth : value 22 : count 599
Column DayOfMonth : value 20 : count 592
Column DayOfMonth : value 19 : count 589
Column DayOfMonth : value 29 : count 579
Column DayOfMonth : value 30 : count 520
Column DayOfMonth : value 31 : count 369
Column DayOfMonth : value None : count 1
Column Month : value May : count 1705
Column Month : value March : count 1687
Column Month : value July : count 1656
Column Month : value June : count 1656
Column Month : value April : count 1641
Column Month : value January : count 1616
Column Month : value December : count 1553
Column Month : value September : count 1548
Column Month : value February : count 1533
Column Month : value August : count 1532
Column Month : value October : count 1526
Column Month : value November : count 1493
Column Month : value None : count 1
Column Year : value 1960 : count 652
Column Year : value 1962 : count 631
Column Year : value 1958 : count 628
Column Year : value 1961 : count 601
Column Year : value 1963 : count 593
Column Year : value 1964 : count 592
Column Year : value 1957 : count 589
Column Year : value 1959 : count 567
Column Year : value 1956 : count 560
Column Year : value 1955 : count 553
Column Year : value 1954 : count 544
Column Year : value 1965 : count 537
Column Year : value 1953 : count 485
Column Year : value 1967 : count 484
Column Year : value 1966 : count 467
Column Year : value 1952 : count 459
Column Year : value 1947 : count 442
Column Year : value 1948 : count 441
Column Year : value 1968 : count 418
Column Year : value 1949 : count 413
Column Year : value 1946 : count 411
Column Year : value 1951 : count 410
Column Year : value 1950 : count 394
Column Year : value 1970 : count 393
Column Year : value 1971 : count 357
Column Year : value 1969 : count 336
Column Year : value 1972 : count 302
Column Year : value 1945 : count 297
Column Year : value 1944 : count 280
Column Year : value 1973 : count 274
Column Year : value 1943 : count 270
Column Year : value 1974 : count 243
Column Year : value 1976 : count 221
Column Year : value 1975 : count 218
Column Year : value 1977 : count 202
Column Year : value 1942 : count 197
Column Year : value 1979 : count 194
Column Year : value 1978 : count 189
Column Year : value 1980 : count 185
Column Year : value 1939 : count 175
Column Year : value 1941 : count 174
Column Year : value 1940 : count 164
Column Year : value 1938 : count 160
Column Year : value 1937 : count 140
Column Year : value 1936 : count 138
Column Year : value 1935 : count 129
Column Year : value 1981 : count 126
Column Year : value 1934 : count 117
Column Year : value 1982 : count 113
Column Year : value 1933 : count 104
Column Year : value 1932 : count 99
Column Year : value 1983 : count 91
Column Year : value 1930 : count 85
Column Year : value 1931 : count 78
Column Year : value 1928 : count 69
Column Year : value 1926 : count 67
Column Year : value 1929 : count 67
Column Year : value 1922 : count 62
Column Year : value 1920 : count 61
Column Year : value 1923 : count 59
Column Year : value 1924 : count 58
Column Year : value 1927 : count 58
Column Year : value 1919 : count 58
Column Year : value 1921 : count 52
Column Year : value 1925 : count 50
Column Year : value 1984 : count 50
Column Year : value 1913 : count 41
Column Year : value 1914 : count 39
Column Year : value 1985 : count 39
Column Year : value 1916 : count 37
Column Year : value 1917 : count 37
Column Year : value 1915 : count 32
Column Year : value 1918 : count 28
Column Year : value 1912 : count 27
Column Year : value 1986 : count 27
Column Year : value 1910 : count 24
Column Year : value 1911 : count 22
Column Year : value 1909 : count 20
Column Year : value 1987 : count 17
Column Year : value 1908 : count 14
Column Year : value 1907 : count 13
Column Year : value 1991 : count 8
Column Year : value 1988 : count 6
Column Year : value 1993 : count 6
Column Year : value 1902 : count 6
Column Year : value 1906 : count 5
Column Year : value 1904 : count 5
Column Year : value 1996 : count 5
Column Year : value 1997 : count 5
Column Year : value 1900 : count 4
Column Year : value 1905 : count 4
Column Year : value 1990 : count 4
Column Year : value 1995 : count 4
Column Year : value 1901 : count 4
Column Year : value 1903 : count 4
Column Year : value 2002 : count 4
Column Year : value 1989 : count 3
Column Year : value 1998 : count 3
Column Year : value 2004 : count 3
Column Year : value 1994 : count 2
Column Year : value 2006 : count 2
Column Year : value 2005 : count 2
Column Year : value 2008 : count 2
Column Year : value 2001 : count 2
Column Year : value None : count 1
Column Year : value 2003 : count 1
Column Year : value 1999 : count 1
Column Year : value 2000 : count 1

In [240]:
dataProfileValues = dataProfile.columns.values()

In [241]:
dataProfileValues

odict_values([ColumnProfile:
    column_name: DOB
    type: FieldType.DATE

    min: 1900-01-01 00:00:00+00:00
    max: 2008-10-25 00:00:00+00:00
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0

, ColumnProfile:
    column_name: DayOfWeek
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0

, ColumnProfile:
    column_name: DayOfMonth
    type: FieldType.STRING

    min: 1
    max: 9
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0

, ColumnProfile:
    column_name: Month
    type: FieldType.STRING

    min: April
    max: September
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0

, ColumnProfile:
    column_name: Year
    type: FieldType.STRING

    min: 1900
    max: 2008
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0

, ColumnProfile:
    column_name: ID
    type: FieldType.INTEGER

    min: 17936.0
    max: 36765.0
    count: 19147.0
    missing_count: 1.0
    not_missing_count: 19146.0
    percent_missing: 5.222750300308142e-05
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 17957.505076923077
           1%: 19834.11288011696
           5%: 19741.04861111111
          25%: 22621.57794636583
          50%: 27301.880255872522
          75%: 31965.093154567367
          95%: 35743.97104916763
          99%: 36546.678301158296
        99.9%: 36743.43258133971

    mean: 27298.755562519484
    std: 5400.796882343092
    variance: 29168606.964326866
    skewness: 0.007268103979632813
    kurtosis: -1.194865681433907
])

In [242]:
df = dataFlow.to_pandas_dataframe()

In [243]:
df

             DOB  DayOfWeek DayOfMonth      Month  Year       ID
0     1913-04-03   Thursday          3      April  1913  18373.0
1     1924-12-17  Wednesday         17   December  1924  18375.0
2     1925-08-04    Tuesday          4     August  1925  18376.0
3     1925-05-11     Monday         11        May  1925  18377.0
4     1922-10-19   Thursday         19    October  1922  18378.0
5     1924-12-17  Wednesday         17   December  1924  18379.0
6     1924-04-02  Wednesday          2      April  1924  18380.0
7     1925-10-20    Tuesday         20    October  1925  18381.0
8     1925-07-01  Wednesday          1       July  1925  18382.0
9     1925-10-09     Friday          9    October  1925  18383.0
10    1924-03-20   Thursday         20      March  1924  18384.0
11    1913-12-09    Tuesday          9   December  1913  18385.0
12    1913-12-09    Tuesday          9   December  1913  18385.0
13    1921-04-26    Tuesday         26      April  1921  18386.0
14    1926-02-26     Friday         26   February  1926  18387.0
15    1926-09-01  Wednesday          1  September  1926  18389.0
16    1926-09-20     Monday         20  September  1926  18390.0
17    1926-09-10     Friday         10  September  1926  18391.0
18    1926-08-05   Thursday          5     August  1926  18392.0
19    1926-07-21  Wednesday         21       July  1926  18393.0
20    1926-06-10   Thursday         10       June  1926  18394.0
21    1926-06-10   Thursday         10       June  1926  18394.0
22    1926-06-10   Thursday         10       June  1926  18394.0
23    1927-01-16     Sunday         16    January  1927  18395.0
24    1916-11-16   Thursday         16   November  1916  18396.0
25    1963-05-13     Monday         13        May  1963  18397.0
26    1929-07-17  Wednesday         17       July  1929  18398.0
27    1914-06-01     Monday          1       June  1914  18399.0
28    1926-05-31     Monday         31        May  1926  18400.0
29    1927-10-10     Monday         10    October  1927  18401.0
...          ...        ...        ...        ...   ...      ...
19117 1961-07-14     Friday         14       July  1961  36731.0
19118 1929-11-20  Wednesday         20   November  1929  36732.0
19119 2002-02-10     Sunday         10   February  2002  36733.0
19120 2008-10-25   Saturday         25    October  2008  36734.0
19121 1946-11-09   Saturday          9   November  1946  36735.0
19122 1966-04-12    Tuesday         12      April  1966  36736.0
19123 2002-02-10     Sunday         10   February  2002  36737.0
19124 1936-06-14     Sunday         14       June  1936  36740.0
19125 1952-02-26    Tuesday         26   February  1952  36741.0
19126 1944-02-17   Thursday         17   February  1944  36742.0
19127 1971-08-22     Sunday         22     August  1971  36743.0
19128 2004-08-04  Wednesday          4     August  2004  36744.0
19129 2004-08-04  Wednesday          4     August  2004  36745.0
19130 2005-12-05     Monday          5   December  2005  36746.0
19131 1966-12-14  Wednesday         14   December  1966  36748.0
19132 1949-09-14  Wednesday         14  September  1949  36750.0
19133 1958-02-25    Tuesday         25   February  1958  36751.0
19134 1945-10-17  Wednesday         17    October  1945  36752.0
19135 1944-12-20  Wednesday         20   December  1944  36753.0
19136 1943-11-21     Sunday         21   November  1943  36754.0
19137 2000-04-26  Wednesday         26      April  2000  36755.0
19138 1943-01-24     Sunday         24    January  1943  36756.0
19139 1943-03-27   Saturday         27      March  1943  36757.0
19140 1960-08-10  Wednesday         10     August  1960  36759.0
19141 1932-08-27   Saturday         27     August  1932  36760.0
19142 1971-04-29   Thursday         29      April  1971  36761.0
19143 2001-01-20   Saturday         20    January  2001  36762.0
19144 1927-11-10   Thursday         10   November  1927  36763.0
19145 1960-05-07   Saturday          7        May  1960  36764.0
19146 1933-05-22     Monday         22        May  1933  36765.0

[19147 rows x 6 columns]

In [244]:
profileReport = pp.ProfileReport(df, check_correlation = False)
profileReport.to_file('./profileReport.html')

In [12]:
plot = sns.countplot(x="Year", data=df)

NameError: name 'df' is not defined